<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Musical Instruments*</string>
		<dict>
			<key>Harp</key>
			<string>harp.wav</string>
			<key>Flute</key>
			<string>flute.wav</string>
			<key>Cello</key>
			<string>cello.wav</string>
			<key>Drums</key>
			<string>drums.wav</string>
			<key>Violin</key>
			<string>violin.wav</string>
			<key>Guitar</key>
			<string>guitar.wav</string>
			<key>Trumpet</key>
			<string>trumpet.wav</string>
			<key>Piano</key>
			<string>piano.wav</string>
			<key>Saxophone</key>
			<string>saxophone.wav</string>
			<key>Clarinet</key>
			<string>clarinet.wav</string>
			<key>Trombone</key>
			<string>trombone.wav</string>
			<key>Tuba</key>
			<string>tuba.mp3</string>
		</dict>
	</array>
	<array>
		<string>Bird Sounds</string>
		<dict>
			<key>Harp</key>
			<string>harp.wav</string>
			<key>Flute</key>
			<string>flute.wav</string>
			<key>Cello</key>
			<string>cello.wav</string>
			<key>Drums</key>
			<string>drums.wav</string>
			<key>Violin</key>
			<string>violin.wav</string>
			<key>Guitar</key>
			<string>guitar.wav</string>
			<key>Trumpet</key>
			<string>trumpet.wav</string>
			<key>Piano</key>
			<string>piano.wav</string>
			<key>Saxophone</key>
			<string>saxophone.wav</string>
			<key>Clarinet</key>
			<string>clarinet.wav</string>
			<key>Trombone</key>
			<string>trombone.wav</string>
			<key>Tuba</key>
			<string>tuba.mp3</string>
		</dict>
	</array>
	<array>
		<string>National Anthems*</string>
		<dict>
			<key>Canada</key>
			<string>canada.mp3</string>
			<key>United Kingdom</key>
			<string>unitedkingdom.mp3</string>
			<key>Ireland</key>
			<string>ireland.mp3</string>
			<key>India</key>
			<string>india.mp3</string>
			<key>New Zealand</key>
			<string>newzealand.mp3</string>
			<key>Poland</key>
			<string>poland.mp3</string>
			<key>Japan</key>
			<string>japan.mp3</string>
			<key>Germany</key>
			<string>germany.mp3</string>
			<key>Denmark</key>
			<string>denmark.mp3</string>
			<key>Brazil</key>
			<string>brazil.mp3</string>
			<key>Mexico</key>
			<string>mexico.mp3</string>
			<key>United States</key>
			<string>unitedstates.mp3</string>
		</dict>
	</array>
	<array>
		<string>Computer Noises</string>
		<dict>
			<key>Harp</key>
			<string>harp.wav</string>
			<key>Flute</key>
			<string>flute.wav</string>
			<key>Cello</key>
			<string>cello.wav</string>
			<key>Drums</key>
			<string>drums.wav</string>
			<key>Violin</key>
			<string>violin.wav</string>
			<key>Guitar</key>
			<string>guitar.wav</string>
			<key>Trumpet</key>
			<string>trumpet.wav</string>
			<key>Piano</key>
			<string>piano.wav</string>
			<key>Saxophone</key>
			<string>saxophone.wav</string>
			<key>Clarinet</key>
			<string>clarinet.wav</string>
			<key>Trombone</key>
			<string>trombone.wav</string>
			<key>Tuba</key>
			<string>tuba.mp3</string>
		</dict>
	</array>
	<array>
		<string>Company Jingles</string>
		<dict>
			<key>Harp</key>
			<string>harp.wav</string>
			<key>Flute</key>
			<string>flute.wav</string>
			<key>Cello</key>
			<string>cello.wav</string>
			<key>Drums</key>
			<string>drums.wav</string>
			<key>Violin</key>
			<string>violin.wav</string>
			<key>Guitar</key>
			<string>guitar.wav</string>
			<key>Trumpet</key>
			<string>trumpet.wav</string>
			<key>Piano</key>
			<string>piano.wav</string>
			<key>Saxophone</key>
			<string>saxophone.wav</string>
			<key>Clarinet</key>
			<string>clarinet.wav</string>
			<key>Trombone</key>
			<string>trombone.wav</string>
			<key>Tuba</key>
			<string>tuba.mp3</string>
		</dict>
	</array>
	<array>
		<string>Wireless Carrier Ringtones</string>
		<dict>
			<key>Harp</key>
			<string>harp.wav</string>
			<key>Flute</key>
			<string>flute.wav</string>
			<key>Cello</key>
			<string>cello.wav</string>
			<key>Drums</key>
			<string>drums.wav</string>
			<key>Violin</key>
			<string>violin.wav</string>
			<key>Guitar</key>
			<string>guitar.wav</string>
			<key>Trumpet</key>
			<string>trumpet.wav</string>
			<key>Piano</key>
			<string>piano.wav</string>
			<key>Saxophone</key>
			<string>saxophone.wav</string>
			<key>Clarinet</key>
			<string>clarinet.wav</string>
			<key>Trombone</key>
			<string>trombone.wav</string>
			<key>Tuba</key>
			<string>tuba.mp3</string>
		</dict>
	</array>
	<array>
		<string>Video Game Noises</string>
		<dict>
			<key>Harp</key>
			<string>harp.wav</string>
			<key>Flute</key>
			<string>flute.wav</string>
			<key>Cello</key>
			<string>cello.wav</string>
			<key>Drums</key>
			<string>drums.wav</string>
			<key>Violin</key>
			<string>violin.wav</string>
			<key>Guitar</key>
			<string>guitar.wav</string>
			<key>Trumpet</key>
			<string>trumpet.wav</string>
			<key>Piano</key>
			<string>piano.wav</string>
			<key>Saxophone</key>
			<string>saxophone.wav</string>
			<key>Clarinet</key>
			<string>clarinet.wav</string>
			<key>Trombone</key>
			<string>trombone.wav</string>
			<key>Tuba</key>
			<string>tuba.mp3</string>
		</dict>
	</array>
	<array>
		<string>Suspicious Noises</string>
		<dict>
			<key>Harp</key>
			<string>harp.wav</string>
			<key>Flute</key>
			<string>flute.wav</string>
			<key>Cello</key>
			<string>cello.wav</string>
			<key>Drums</key>
			<string>drums.wav</string>
			<key>Violin</key>
			<string>violin.wav</string>
			<key>Guitar</key>
			<string>guitar.wav</string>
			<key>Trumpet</key>
			<string>trumpet.wav</string>
			<key>Piano</key>
			<string>piano.wav</string>
			<key>Saxophone</key>
			<string>saxophone.wav</string>
			<key>Clarinet</key>
			<string>clarinet.wav</string>
			<key>Trombone</key>
			<string>trombone.wav</string>
			<key>Tuba</key>
			<string>tuba.mp3</string>
		</dict>
	</array>
	<array>
		<string>Vaguely Reminiscent Noises</string>
		<dict>
			<key>Harp</key>
			<string>harp.wav</string>
			<key>Flute</key>
			<string>flute.wav</string>
			<key>Cello</key>
			<string>cello.wav</string>
			<key>Drums</key>
			<string>drums.wav</string>
			<key>Violin</key>
			<string>violin.wav</string>
			<key>Guitar</key>
			<string>guitar.wav</string>
			<key>Trumpet</key>
			<string>trumpet.wav</string>
			<key>Piano</key>
			<string>piano.wav</string>
			<key>Saxophone</key>
			<string>saxophone.wav</string>
			<key>Clarinet</key>
			<string>clarinet.wav</string>
			<key>Trombone</key>
			<string>trombone.wav</string>
			<key>Tuba</key>
			<string>tuba.mp3</string>
		</dict>
	</array>
	<array>
		<string>Crunchy Things</string>
		<dict>
			<key>Harp</key>
			<string>harp.wav</string>
			<key>Flute</key>
			<string>flute.wav</string>
			<key>Cello</key>
			<string>cello.wav</string>
			<key>Drums</key>
			<string>drums.wav</string>
			<key>Violin</key>
			<string>violin.wav</string>
			<key>Guitar</key>
			<string>guitar.wav</string>
			<key>Trumpet</key>
			<string>trumpet.wav</string>
			<key>Piano</key>
			<string>piano.wav</string>
			<key>Saxophone</key>
			<string>saxophone.wav</string>
			<key>Clarinet</key>
			<string>clarinet.wav</string>
			<key>Trombone</key>
			<string>trombone.wav</string>
			<key>Tuba</key>
			<string>tuba.mp3</string>
		</dict>
	</array>
	<array>
		<string>Noises You Hear At 1:24pm</string>
		<dict>
			<key>Harp</key>
			<string>harp.wav</string>
			<key>Flute</key>
			<string>flute.wav</string>
			<key>Cello</key>
			<string>cello.wav</string>
			<key>Drums</key>
			<string>drums.wav</string>
			<key>Violin</key>
			<string>violin.wav</string>
			<key>Guitar</key>
			<string>guitar.wav</string>
			<key>Trumpet</key>
			<string>trumpet.wav</string>
			<key>Piano</key>
			<string>piano.wav</string>
			<key>Saxophone</key>
			<string>saxophone.wav</string>
			<key>Clarinet</key>
			<string>clarinet.wav</string>
			<key>Trombone</key>
			<string>trombone.wav</string>
			<key>Tuba</key>
			<string>tuba.mp3</string>
		</dict>
	</array>
	<array>
		<string>Westerman Noises</string>
		<dict>
			<key>Harp</key>
			<string>harp.wav</string>
			<key>Flute</key>
			<string>flute.wav</string>
			<key>Cello</key>
			<string>cello.wav</string>
			<key>Drums</key>
			<string>drums.wav</string>
			<key>Violin</key>
			<string>violin.wav</string>
			<key>Guitar</key>
			<string>guitar.wav</string>
			<key>Trumpet</key>
			<string>trumpet.wav</string>
			<key>Piano</key>
			<string>piano.wav</string>
			<key>Saxophone</key>
			<string>saxophone.wav</string>
			<key>Clarinet</key>
			<string>clarinet.wav</string>
			<key>Trombone</key>
			<string>trombone.wav</string>
			<key>Tuba</key>
			<string>tuba.mp3</string>
		</dict>
	</array>
	<array>
		<string>Windows Alert Dialogs</string>
		<dict>
			<key>Harp</key>
			<string>harp.wav</string>
			<key>Flute</key>
			<string>flute.wav</string>
			<key>Cello</key>
			<string>cello.wav</string>
			<key>Drums</key>
			<string>drums.wav</string>
			<key>Violin</key>
			<string>violin.wav</string>
			<key>Guitar</key>
			<string>guitar.wav</string>
			<key>Trumpet</key>
			<string>trumpet.wav</string>
			<key>Piano</key>
			<string>piano.wav</string>
			<key>Saxophone</key>
			<string>saxophone.wav</string>
			<key>Clarinet</key>
			<string>clarinet.wav</string>
			<key>Trombone</key>
			<string>trombone.wav</string>
			<key>Tuba</key>
			<string>tuba.mp3</string>
		</dict>
	</array>
	<array>
		<string>MacOS Alert Dialogs</string>
		<dict>
			<key>Harp</key>
			<string>harp.wav</string>
			<key>Flute</key>
			<string>flute.wav</string>
			<key>Cello</key>
			<string>cello.wav</string>
			<key>Drums</key>
			<string>drums.wav</string>
			<key>Violin</key>
			<string>violin.wav</string>
			<key>Guitar</key>
			<string>guitar.wav</string>
			<key>Trumpet</key>
			<string>trumpet.wav</string>
			<key>Piano</key>
			<string>piano.wav</string>
			<key>Saxophone</key>
			<string>saxophone.wav</string>
			<key>Clarinet</key>
			<string>clarinet.wav</string>
			<key>Trombone</key>
			<string>trombone.wav</string>
			<key>Tuba</key>
			<string>tuba.mp3</string>
		</dict>
	</array>
	<array>
		<string>Disney Movie Soundtracks</string>
		<dict>
			<key>Harp</key>
			<string>harp.wav</string>
			<key>Flute</key>
			<string>flute.wav</string>
			<key>Cello</key>
			<string>cello.wav</string>
			<key>Drums</key>
			<string>drums.wav</string>
			<key>Violin</key>
			<string>violin.wav</string>
			<key>Guitar</key>
			<string>guitar.wav</string>
			<key>Trumpet</key>
			<string>trumpet.wav</string>
			<key>Piano</key>
			<string>piano.wav</string>
			<key>Saxophone</key>
			<string>saxophone.wav</string>
			<key>Clarinet</key>
			<string>clarinet.wav</string>
			<key>Trombone</key>
			<string>trombone.wav</string>
			<key>Tuba</key>
			<string>tuba.mp3</string>
		</dict>
	</array>
	<array>
		<string>Random</string>
		<dict>
			<key>Harp</key>
			<string>harp.wav</string>
			<key>Flute</key>
			<string>flute.wav</string>
			<key>Cello</key>
			<string>cello.wav</string>
			<key>Drums</key>
			<string>drums.wav</string>
			<key>Violin</key>
			<string>violin.wav</string>
			<key>Guitar</key>
			<string>guitar.wav</string>
			<key>Trumpet</key>
			<string>trumpet.wav</string>
			<key>Piano</key>
			<string>piano.wav</string>
			<key>Saxophone</key>
			<string>saxophone.wav</string>
			<key>Clarinet</key>
			<string>clarinet.wav</string>
			<key>Trombone</key>
			<string>trombone.wav</string>
			<key>Tuba</key>
			<string>tuba.mp3</string>
		</dict>
	</array>
</array>
</plist>
